.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-collumn {
  display: flex;
  flex-direction: column;
}

@mixin flex-collumn-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-vertical-center {
    display: flex;
    align-items: center;
}
