.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 250px;
  height: 98px;
  font-family: "Red-Rose-bold";
  border: none;
  transition: all ease-out 200ms;
  cursor: pointer;

  &__controller {
    position: absolute;
    left: 24px;
    transition: transform 200ms ease-out;
  }

  &__arrow {
    position: absolute;
    right: 24px;
    transition: all 200ms ease-out;

    &-hover {
      position: absolute;
      right: 24px;
      opacity: 0;
      transition: all 200ms ease-out;
    }
  }

  &--primary {
    background-color: rgba(240, 234, 110, 1);
    color: rgba(48, 49, 49, 1);
    font-size: 40px;

    &:hover {
      scale: 1.1;

      .button__controller {
        transform: rotate(-25deg);
      }

      .button__arrow {
        opacity: 0;

        &-hover {
          opacity: 1;
        }
      }
    }

    &__settings {
      width: unset;
      height: unset;
      font-size: 20px;
      padding: 16px;

      > img {
        margin-right: 8px;
      }
    }
  }
}

.isDisabled {
    background-color: rgb(172, 172, 172);
    cursor: not-allowed;
    pointer-events: none;
}