@use "../layout/flex";

.gamefield-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--page-background);
  font-family: var(--page-font-family);
}

.header-menu {
  display: flex;
  align-items: var(--header-align-itmes);
  justify-content: space-between;
  width: 1220px;
  height: 104px;
  border-radius: var(--header-element-radius);
  margin-top: var(--header-menu-margin-top);
  background-color: var(--background-color-header-menu);
}

.exit-button {
  cursor: pointer;
  position: relative;
  width: var(--exit-button-width);
  height: var(--exit-button-height);
  border: var(--exit-button-border);
  background-color: var(--exit-button-background-color);
  color: var(--exit-button-text-color);
  border-radius: var(--header-element-radius);
  margin-right: var(--header-element-margin);
  @include flex.flex-center;

  &:hover {
    box-shadow: var(--exit-button-img-background-box-shadow-hover);
    background-color: var(--exit-button-background-color-hover);
    color: var(--exit-button-text-color-hover);
  }

  &__text {
    margin-left: 32px;
  }

  &__img {
    position: absolute;
    width: var(--exit-button-img-width);
    height: var(--exit-button-img-height);
    left: var(--exit-button-img-left);
    transition: all ease-in-out 200ms;
    background-image: var(--exit-button-img-background-image);
    margin-right: 32px;
  }

  &--hover {
    position: absolute;
    opacity: 0;
    width: var(--exit-button-img-width);
    height: var(--exit-button-img-height);
    left: var(--exit-button-img-left);
    transition: all ease-in-out 200ms;
    background-image: var(--exit-button-img-background-image-hover);
  }

  &:hover .exit-img {
    opacity: 0;
  }

  &:hover .exit-img-hover {
    opacity: 1;
  }
}

.score-board {
  width: var(--header-element-width);
  height: var(--header-element-height);
  background-color: var(--score-bord-background-color);
  border-radius: var(--header-element-radius);
  margin-left: var(--header-element-margin);
  @include flex.flex-center;
  justify-content: space-around;

  &__player {
    @include flex.flex-center;
    padding: var(--score-bord-score-text-padding);
    font-size: var(--score-bord-score-text-font-size);
    width: 160px;

    &--add-color {
      display: var(--player-color-is-displayed);
      font-size: var(--player-color-is-displayed-font-size);
      margin-right: 6px;
    }

    &--orange {
      color: var(--player-two-color);
    }

    &--blue {
      color: var(--player-one-color);
    }
  }

  &__img {
    background-repeat: var(--card-background-img-background-repeat);
    background-position: var(--card-background-img-background-position);
    padding: var(--player-img-padding);
    width: var(--player-img-width);
    height: var(--player-img-height);

    &--orange {
      background-image: var(--player-background-img-orange);
    }

    &--blue {
      background-image: var(--player-background-img-blue);
    }
  }
}

.current-player {
  @include flex.flex-center;

  &__img {
    background-repeat: var(--card-background-img-background-repeat);
    background-position: var(--card-background-img-background-position);
    width: var(--current-player-img-width);
    height: var(--current-player-img-height);

    &--orange {
      background-image: var(--current-player-background-image-orange);
    }

    &--blue {
      background-image: var(--current-player-background-image-blue);
    }
  }

  &__text {
    font-size: var(--player-text-font-size);
    margin-right: var(--player-text-margin-right);
    color: var(--player-text-font-color);
    font-family: var(--player-text-font-family);
  }

  &__icon {
    border-radius: var(--player-icon-border-radius);
    width: var(--player-icon-size);
    height: var(--player-icon-size);
    @include flex.flex-center;

    &--orange {
      background-color: var(--current-player-background-color-orange);
    }

    &--blue {
      background-color: var(--current-player-background-color-blue);
    }
  }
}

.card-field {
  margin-top: var(--card-field-margin-top);
}

.card-field-column {
  display: flex;
}

.card {
  width: var(--card-width);
  height: var(--card-eight);
  margin: var(--card-margin);

  &--margin-16cards {

  }

  &--margin-more-than-16cards {

  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 300ms ease-in-out;
  }

  &__face {
    position: absolute;
    @include flex.flex-center;
    inset: 0;
    border-radius: var(--card-border-radius);
    background-image: var(--card-background-image);
    background-color: var(--card-background-color);
    background-repeat: var(--card-background-img-background-repeat);
    background-position: var(--card-background-img-background-position);
    backface-visibility: hidden;

    &--img {
      display: var(--back-card-img);
      width: 50%;
      height: 50%;
    }

    &--back {
      transform: rotateY(180deg);
      background-image: linear-gradient(30deg, red 0%, red 100%);
    }

    
  }

  &.is-flipped .card__inner {
    transform: rotateY(180deg);
  }
}

.exit-game {
  margin: auto;
  width: var(--dialog-width);
  height: var(--dialog-height);
  border-radius: var(--dialog-border-radius);

  &--content {
    @include flex.flex-center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: var(--dialog-button-borderradius);

    background-color: var(--dialog-background-color);

    &__text {
      font-size: var(--dialog-text-font-size);
      color: var(--dialog-text-color);
      text-align: center;
      letter-spacing: 2%;
    }

    &__buttons {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}

.dialog-button {
  font-family: var(--dialog-button-font-family);
  cursor: pointer;
  font-size: var(--dialog-button-font-size);
  letter-spacing: var(--dialog-button-letter-spacing);
  padding: var(--dialog-button-padding);
  border-radius: var(--dialog-button-borderradius);
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease;

  &--stay {
    border: var(--dialog-button-stay-border);
    background-color: var(--dialog-button-stay-background-color);
    color: var(--dialog-button-stay-color);
    box-shadow: var(--dialog-button-stay-boxshadow);

    &:hover {
      box-shadow: var(--dialog-button-stay-hover-border);
      background-color: var(--dialog-button-stay-hover-background-color);
      color: var(--dialog-button-stay-hover-color);
    }
  }

  &--exit {
    border: var(--dialog-button-exit-border);
    background-color: var(--dialog-button-exit-background-color);
    color: var(--dialog-button-exit-color);
    box-shadow: var(--dialog-button-exit-boxshadow);

    &:hover {
      box-shadow: var(--dialog-button-exit-hover-boxshadow);
      background-color: var(--dialog-button-exit-hover-background-color);
      color: var(--dialog-button-exit-hover-color);
    }
  }
}
