@use "../layout/flex";

.game-over-content {
  width: var(--game-over-page-width);
  height: var(--game-over-page-height);
  @include flex.flex-center;
  flex-direction: column;
}

.game-over-page {
  background-color: var(--game-over-page-color);
}

.game-over-header {
  font-size: var(--game-over-header-fontsize);
  color: var(--game-over-header-color);
  font-family: var(--game-over-header-font-family);
  margin-bottom: var(--game-over-header-margin-bottom);
  text-shadow: var(--game-over-header-text-shadow);
}
.score-section {
  &_header {
    font-size: var(--game-over-score-fontsize);
    color: var(--game-over-score-header-color);
    text-align: var(--game-over-score-header-text-align);
    font-family: var(--game-over-score-header-font-family);
    margin-right: 8px;
  }

  &_overview {
    display: var(--game-over-score-overview-display);
    align-items: var(--game-over-score-overview-align-items);
    justify-content: var(--game-over-score-overview-justify-content);
    background-color: var(--game-over-score-overview-background-color);
    padding: var(--game-over-score-overview-padding);
    border-radius: var(--game-over-score-overview-border-radius);
    margin-top: var(--game-over-score-overview-margin-top);
    gap: var(--game-over-score-overview-gap);
  }

  &_img {
    width: var(--game-over-score-img-width);
    height: var(--game-over-score-img-height);
    margin-right: var(--game-over-score-img-margin-right);
  }

  &_player {
    display: var(--game-over-score-player-display);
    align-items: var(--game-over-score-player-align-items);
    font-size: var(--game-over-score-player-font-size);

    &--blue {
      color: var(--game-over-score-player-one-color);
    }

    &--orange {
      color: var(--game-over-score-player-two-color);
    }
  }

  .header-menu__score--player {
    display: flex;
    align-items: center;
  }
}
