.settings {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &--content {
      width: 1100px;
      height: 600px;
      border: 1px solid red;
      display: flex;
      justify-content: space-between;

      &__header {
        font-family:"Red-Rose-bold" ;
        font-size: 54px;
      }
    }

    &__size {
        display: flex;
        flex-direction: column;
    }
}

.settings-detail {
    &__header {
        font-family: "Almarai-Bold", Arial, Helvetica, sans-serif;
        font-size: 24px;
        color: rgba(48, 49, 49, 1);
        padding: 16px;
    }
}



.show-settings{
    &--area {
    > img {
        background-color: aqua;
        width: 460px;
        height: 412px;
        }
    }

    &--details {
        display: flex;
        align-items: center;
        justify-content: end;
    }

}

