@use "../layout/flex";

.winner-screen-position {
  width: 100wh;
  height: 100vh;
  background-color: var(--winner-screen-background-color);
  @include flex.flex-center;
}

.winner-screen {
  display: var(--winning-screen-display);
  flex-direction: var(--winning-screen-flex-direction);
  align-items: var(--winning-screen-align-items);
  position: var(--winning-screen-position);

  &_text {
    font-size: var(--winning-screen-text-font-size);
    font-family: var(--winning-screen-text-font-family);
    color: var(--winning-screen-text-color);
  }

  &_player {
    font-size: var(--winning-screen-player-font-size);
    font-family: var(--winning-screen-player-font-family);
    text-transform: var(--winning-screen-player-uppercase);
    color: var(--winning-screen-player-color);
    letter-spacing: var(--winning-screen-player-letter-spacing);
    margin-bottom: var(--winning-screen-player-margin-bottom);
  }

  &_img {
    background-image: var(--winning-screen-img-background-image);
    width: var(--winning-screen-img-width);
    height: var(--winning-screen-img-height);
    letter-spacing: var(--winning-screen-img-letter-spacing);
    margin-bottom: var(--winning-screen-img-margin-bottom);
    background-repeat: var(--card-background-img-background-repeat);
    background-position: var(--card-background-img-background-position);
  }

  &__button {
    cursor: pointer;
    @include flex.flex-center;
    position: var(--winning-screen-button-position);
    width: var(--winning-screen-button-width);
    height: var(--winning-screen-button-height);
    border: var(--winning-screen-button-border);
    background-color: var(--winning-screen-button-background-color);
    color: var(--winning-screen-button-color);
    border-radius: var(--winning-screen-button-border-radius);

    &:hover {
      box-shadow: var(--winning-screen-button-hover-border);
      background-color: var(--winning-screen-button-hover-background-color);
      color: var(--winning-screen-button-hover-color);
    }

  >span {
    font-family: var(--winning-screen-button-font-family);
    font-size: var(--winning-screen-button-font-size);
  }
  }
}

.confetti {
  display: var(--winning-screen-confetti-display);
  width: var(--winning-screen-confetti-width);
  margin-top: var(--winning-screen-confetti-margin-top);
}
