[data-theme="project"] {
  // Page
  --page-background: rgba(255, 255, 255, 1);
  --page-font-family: "Figtree-bold";

  // Haeder Menu
  --background-color-header-menu: rgba(240, 243, 244, 1);
  --header-menu-margin-top: 40px;
  --header-align-itmes: center;
  --header-element-width: 156px;
  --header-element-height: 54px;
  --header-element-radius: 10px;
  --header-element-margin: 32px;
  // Score board
  --score-bord-background-color: rgba(255, 255, 255, 1);
  --score-bord-score-text-font-size: 30px;
  --score-bord-score-text-padding: px;

  // Player
  --player-text-font-size: 32px;
  --player-text-font-color: rgba(30, 117, 148, 1);
  --player-text-font-family: "Figtree-bold";
  --player-text-margin-right: 16px;
  --player-one-color: rgba(9, 127, 197, 1);
  --player-two-color: rgba(234, 105, 0, 1);
  --player-icon-border-radius: 3px;
  --player-icon-size: 40px;
  --player-img-width: 22px;
  --player-img-height: 28px;
  --player-img-padding: 4px;
  --player-background-img-orange: url("./public/img/theme-img/game/chess_pawn_orange.svg");
  --player-background-img-blue: url("./public/img/theme-img/game/chess_pawn_blue.svg");
  --player-color-is-displayed: none;
  --player-color-is-displayed-font-size: 24px;
  --current-player-background-image-orange: url("public/img/theme-img/game/chess_pawn.svg");
  --current-player-background-image-blue: url("public/img/theme-img/game/chess_pawn.svg");
  --current-player-img-width: 25px;
  --current-player-img-height: 32px;
  --current-player-background-color-blue: rgba(9, 127, 197, 1);
  --current-player-background-color-orange: rgba(245, 142, 57, 1);

  // Exit button
  --exit-button-border: none;
  --exit-button-margin-right: 8px;
  --exit-button-background-color: rgba(191, 229, 242, 1);
  --exit-button-text-color: rgba(30, 117, 148, 1);
  --exit-button-width: 172px;
  --exit-button-height: 54px;
  --exit-button-img-width: 30px;
  --exit-button-img-height: 30px;
  --exit-button-img-left: 16px;
  --exit-button-img-background-image: url("public/img/theme-img/da-projects/exit-button-blue.png");
  --exit-button-img-background-image-hover: url("public/img/theme-img/da-projects/exit-button-white-da-projects.png");
  --exit-button-img-background-box-shadow-hover: none;
  --exit-button-background-color-hover: rgba(30, 117, 148, 1);
  --exit-button-text-color-hover: rgba(255, 255, 255, 1);

  // Card-field
  --card-field-margin-top: 48px;

  // Cards
  --card-width: 120px;
  --card-eight: 100px;
  --card-background-image: linear-gradient(
    30deg,
    rgba(30, 117, 148, 1) 0%,
    rgba(30, 117, 148, 1) 100%
  );
  --card-border-radius: 13px;
  --card-margin: 10px;
  --back-card-img: block;
  --is-solved-border: 2px solid rgba(30, 117, 148, 1);
  --is-solved-box-shadow: none;

  //Card Background
  --card-background-img-width: 100%;
  --card-background-img-height: 100%;
  --card-background-img-background-repeat: no-repeat;
  --card-background-img-background-position: center;
  --card-background-img-background-image: url("public/img/theme-img/da-projects/card-background-project-theme.png");

  // Dialog
  --dialog-width: 481px;
  --dialog-height: 254px;
  --dialog-border-radius: 20px;
  --dialog-background-color: rgba(240, 246, 249, 1);
  --dialog-text-font-size: 28px;
  --dialog-text-color: rgba(41, 79, 96, 1);

  // Dialog buttons
  --dialog-button-font-family: "Figtree-semibold";
  --dialog-button-font-size: 16px;
  --dialog-button-letter-spacing: 0%;
  --dialog-button-padding: 16px;
  --dialog-button-borderradius: 10px;
  // Dialog button stay
  --dialog-button-stay-border: none;
  --dialog-button-stay-background-color: rgba(191, 229, 242, 1);
  --dialog-button-stay-color: rgba(30, 117, 148, 1);
  --dialog-button-stay-boxshadow: 3px 3px 5px rgba(47, 46, 46, 0.2);
  // Dialog button stay hover
  --dialog-button-stay-hover-border: none;
  --dialog-button-stay-hover-background-color: rgba(30, 117, 148, 1);
  --dialog-button-stay-hover-color: rgba(255, 255, 255, 1);
  // Dialog button exit
  --dialog-button-exit-border: none;
  --dialog-button-exit-background-color: rgba(253, 138, 129, 1);
  --dialog-button-exit-color: rgba(255, 255, 255, 1);
  --dialog-button-exit-boxshadow: 3px 3px 5px rgba(47, 46, 46, 0.2);
  // Dialog button exit hover
  --dialog-button-exit-hover-background-color: rgba(237, 91, 80, 1);
  --dialog-button-exit-hover-color: rgba(255, 255, 255, 1);
  --dialog-button-exit-hover-boxshadow: none;

  // Game over Screen
  --game-over-page-color: rgba(30, 117, 148, 1);
  --game-over-page-width: 100wh;
  --game-over-page-height: 100vh;

  --game-over-header-fontsize: 130px;
  --game-over-header-color: rgba(253, 91, 79, 1);
  --game-over-header-font-family:
    "Figtree-extrabold", Arial, Helvetica, sans-serif;
  --game-over-header-margin-bottom: 100px;
  --game-over-header-text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --game-over-score-fontsize: 40px;
  --game-over-score-header-color: #ffffff;
  --game-over-score-header-text-align: center;
  --game-over-score-header-font-family:
    "Figtree-medium", Arial, Helvetica, sans-serif;

  --game-over-score-overview-display: flex;
  --game-over-score-overview-align-items: center;
  --game-over-score-overview-justify-content: space-around;
  --game-over-score-overview-background-color: #ffffff;
  --game-over-score-overview-padding: 8px;
  --game-over-score-overview-border-radius: 10px;
  --game-over-score-overview-margin-top: 24px;
  --game-over-score-overview-gap: 32px;

  --game-over-score-img-width: 26px;
  --game-over-score-img-height: 32px;
  --game-over-score-img-margin-right: 8px;

  --game-over-score-player-display: flex;
  --game-over-score-player-align-items: center;
  --game-over-score-player-font-size: 40px;

  --game-over-score-player-one-color: #097fc5;
  --game-over-score-player-two-color: #ea6900;

  // Winner Screen
  --winning-screen-display: flex;
  --winning-screen-flex-direction: column;
  --winning-screen-align-items: center;
  --winning-screen-position: relative;
  --winner-scree-background-color: rgba(30, 117, 148, 1);

  --winning-screen-text-font-size: 40px;
  --winning-screen-text-font-family:
    "Figtree-regular", Arial, Helvetica, sans-serif;
  --winning-screen-player-uppercase: none;
  --winning-screen-text-color: #ffffff;

  --winning-screen-player-font-size: 80px;
  --winning-screen-player-font-family:
    "Figtree-bold", Arial, Helvetica, sans-serif;
  --winning-screen-player-color: #ffffff;
  --winning-screen-player-letter-spacing: 0;
  --winning-screen-player-margin-bottom: 32px;

  --winning-screen-img-background-image: url("public/img/theme-img/da-projects/win-player-orange-project-theme.png");
  --winning-screen-img-width: 288px;
  --winning-screen-img-height: 344px;
  --winning-screen-img-letter-spacing: 0.07em;
  --winning-screen-img-margin-bottom: 32px;

  --winning-screen-button-position: relative;
  --winning-screen-button-width: 96px;
  --winning-screen-button-height: 48px;
  --winning-screen-button-border: none;
  --winning-screen-button-background-color: rgba(191, 229, 242, 1);
  --winning-screen-button-color: rgba(30, 117, 148, 1);
  --winning-screen-button-border-radius: 10px;
  --winning-screen-button-font-family:
    "Figtree-regular", Arial, Helvetica, sans-serif;
  --winning-screen-button-font-size: 20px;

  --winning-screen-button-hover-border: inset 0 0 0 2px rgba(191, 229, 242, 1);
  --winning-screen-button-hover-background-color: rgba(30, 117, 148, 1);
  --winning-screen-button-hover-color: rgba(255, 255, 255, 1);

  --winning-screen-confetti-display: none;
  --winning-screen-confetti-width: 80%;
  --winning-screen-confetti-margin-top: -90px;
}