[data-theme="gaming"] {
  // Page
  --page-background: rgba(41, 79, 96, 1);
  --page-font-family: "Orbitron-Bold";

  // Haeder Menu
  --background-color-header-menu: rgba(83, 93, 117);
  --header-menu-margin-top: 40px;
  --header-align-itmes: center;
  --header-element-width: 182px;
  --header-element-height: 54px;
  --header-element-radius: 10px;
  --header-element-margin: 32px;
  // Score board
  --score-bord-background-color: rgba(255, 255, 255, 1);
  --score-bord-score-text-font-size: 30px;
  --score-bord-score-text-padding: 8px;

  // Player
  --player-text-font-size: 32px;
  --player-text-font-color: rgba(255, 255, 255, 1);
  --player-text-margin-right: 16px;
  --player-one-background-color: rgba(31, 170, 252, 1);
  --player-two-background-color: rgba(234, 105, 0, 1);
  --player-icon-border-radius: 3px;
  --player-icon-size: 40px;
  --player-icon-img-width: 25px;
  --player-icon-img-height: 32px;

  // Exit button
  --exit-button-border: 2px solid rgba(231, 28, 79, 1);
  --exit-button-margin-right: 8px;
  --exit-button-background-color: rgba(237, 27, 118, 0.08);
  --exit-button-text-color: rgba(255, 255, 255, 1);



  // Card-field
  --card-field-margin-top: 48px;


  // Cards
  --card-width: 105px;
  --card-eight: 120px;
  --card-background-image: linear-gradient(30deg, rgba(10, 40, 53, 1) 0%, rgba(237, 27, 118, 1) 80%);
  --card-border-radius: 12px;
  --card-margin: 4px;

  

/*
  //das muss in eine IF abfrage, wenn größer 24 Cards dann das hier! 
  @media (max-height: 600px) {
    // Haeder Menu
  --header-menu-margin-top: 8px;

  // Card-field
  --card-field-margin-top: 16px;

    // Cards
  --card-margin: 2px;
  } */

  
}
