<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./public/img/memory_favicon.ico" type="image/x-icon" />
    <script defer type="module" src="../main.ts"></script>
    <script defer type="module" src="../setting.ts"></script>

    <title>Memory</title>
  </head>
  <body class="settings">
            <div class="flex-collum">

                <div class="settings--content__header">
                    <h1>Settings</h1>
                    <img src="./public/img/settings-line_header.png" alt="">
                </div>
                
                <div class="settings--content">

                    <div class="settings-detail">
                        <div class="flex-collumn"> 
                            <div class="settings-detail__header"> <img src="./public/img/settings_palette.png" alt=""> <span>Game themes</span></div>
                            <label class="settings-detail__radiobutton theme-label"> <input type="radio" name="theme" value="vibes">Code vibes theme<img class="settings-detail__radiobutton-image" src="./public/img/settings_line.png" alt=""></label>
                            <label class="settings-detail__radiobutton theme-label"> <input type="radio" name="theme" value="gaming">Gaming theme<img class="settings-detail__radiobutton-image" src="./public/img/settings_line.png" alt=""></label>
                            <label class="settings-detail__radiobutton theme-label"> <input type="radio" name="theme" value="project">DA Projects theme<img class="settings-detail__radiobutton-image" src="./public/img/settings_line.png" alt=""></label>
                        </div>

                        <div class="flex-collumn"> 
                            <div class="settings-detail__header"> <img src="./public/img/settings_chess.png" alt=""> <span>Choose player</span></div>
                            <label class="settings-detail__radiobutton"> <input type="radio" name="player" value="blue">Blue  <img class="settings-detail__radiobutton-image" src="./public/img/settings_line.png" alt=""></label>
                            <label class="settings-detail__radiobutton"> <input type="radio" name="player" value="orange">Orange  <img class="settings-detail__radiobutton-image" src="./public/img/settings_line.png" alt=""></label>
                        </div>

                        <div class="flex-collumn"> 
                            <div class="settings-detail__header"> <img src="./public/img/setting_cards.png" alt=""> <span>Board size</span></div>
                            <label class="settings-detail__radiobutton"> <input type="radio" name="size" value="16">16 cards<img class="settings-detail__radiobutton-image" src="./public/img/settings_line.png" alt=""></label>
                            <label class="settings-detail__radiobutton"> <input type="radio" name="size" value="24">24 cards<img class="settings-detail__radiobutton-image" src="./public/img/settings_line.png" alt=""></label>
                            <label class="settings-detail__radiobutton"> <input type="radio" name="size" value="36">36 cards<img class="settings-detail__radiobutton-image" src="./public/img/settings_line.png" alt=""></label>
                        </div>
                    </div>

                    <div class="show-settings--area">
                        <img id="theme-image" src="./public/img/theme-it-logos.png" alt="">

                        <div class="show-settings__details">
                            <span id="gaming-theme"> Game theme </span>
                            <img src="./public/img/settings-disabled-menu-line.png" alt="">
                            <span id="starting-player"> Player </span>
                            <img src="./public/img/settings-disabled-menu-line.png" alt="">
                            <span id="card-size"> Board size </span>
                            <a id="start-button" class="button button--primary
                            button--primary__settings isDisabled" href="./gamefield.html"><img src="./public/img/settings-start-button.png" alt=""> <span>Start</span></a>
                        </div>
                        <p class="error-massage" id="error-massage">Choose a theme, a player, and the board size to get started.</p>
                    </div>

                </div>

            </div>
  </body>
</html>
