<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../assets/image/memory_favicon.ico"
      type="image/x-icon"
    />
    <script type="module" src="../main.ts"></script>
    <script type="module" src="../setting.ts"></script>
    <script type="module" src="../winner-page.ts"></script>

    <title>Memory</title>
  </head>
  <body data-theme="da-project" class="gamefield-page winner-screen-position">
    <img class="confetti" src="../assets/image/theme-img/code-vibes/winning-scree-confetti-code-vibes-theme.png" alt="">
    <div class="winner-screen">
      <span id="winner-screen_text" class="winner-screen_text">The winner is</span>
      <span id="winning-player" class="winner-screen_player">Orange Player</span>
      <img class="winner-screen_img" id="winning-player-image" src="" alt="">
      

      <a href="./index.html" class="winner-screen__button">
        <span>HOME</span>
      </a>
      
    </div>

    
  </body>
</html>
