*{
    margin: 0px;
    padding: 0px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Almarai-Bold";
  src: url('../../../public/font/Almarai-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Almarai-ExtraBold";
  src: url('../../../public/font/Almarai-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Almarai-Light";
  src: url('../../../public/font/Almarai-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Almarai-Regular";
  src: url('../../../public/font/Almarai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red-Rose-regular";
  src: url('../../../public/font/RedRose-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red-Rose-bold";
  src: url('../../../public/font/RedRose-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red-Rose-light";
  src: url('../../../public/font/RedRose-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red-Rose-medium";
  src: url('../../../public/font/RedRose-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red-Rose-semibold";
  src: url('../../../public/font/RedRose-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}