* {
  margin: 0px;
  padding: 0px;
}

html {
  overflow: hidden;
}

a {
  text-decoration: none;
}

// ########################### Almarai ###############################
@font-face {
  font-family: "Almarai-Bold";
  src: url("../../../public/font/almari/Almarai-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Almarai-ExtraBold";
  src: url("../../../public/font/almari/Almarai-ExtraBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Almarai-Light";
  src: url("../../../public/font/almari/Almarai-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Almarai-Regular";
  src: url("../../../public/font/almari/Almarai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// ########################### Red Rose ###############################
@font-face {
  font-family: "Red-Rose-regular";
  src: url("../../../public/font/redrose/RedRose-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red-Rose-bold";
  src: url("../../../public/font/redrose/RedRose-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red-Rose-light";
  src: url("../../../public/font/redrose/RedRose-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red-Rose-medium";
  src: url("../../../public/font/redrose/RedRose-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red-Rose-semibold";
  src: url("../../../public/font/redrose/RedRose-SemiBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

// ########################### Orbitron ###############################
@font-face {
  font-family: "Orbitron-Regular";
  src: url("../../../public/font/orbitron/Orbitron-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron-Bold";
  src: url("../../../public/font/orbitron/Orbitron-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// ########################### figtree ###############################

@font-face {
  font-family: "Figtree-Bold";
  src: url("../../../public/font/figtree/Figtree-Bold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Figtree-extrabold";
  src: url("../../../public/font/figtree/Figtree-ExtraBold.ttf")
    format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Figtree-light";
  src: url("../../../public/font/figtree/Figtree-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Figtree-medium";
  src: url("../../../public/font/figtree/Figtree-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Figtree-regular";
  src: url("../../../public/font/figtree/Figtree-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Figtree-semibold";
  src: url("../../../public/font/figtree/Figtree-SemiBold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}
